.info{
    width: 80%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -20%);
    z-index: 3;
}
.infoText{
    color: tomato;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
}
